@font-face {
  font-family: "Brandon Grotesque";
  src: url("../../fonts/Brandon Grotesque/Regular.otf");
}

@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("../../fonts/Brandon Grotesque/Bold.otf");
}


@font-face {
  font-family: "Alex Brush";
  src: url("../../fonts/Alex Brush.ttf");
}

@font-face {
  font-family: "Lovely Home";
  src: url("../../fonts/Lovely Home.ttf");
}
