@font-face{
  font-family: "Brandon";
  src: url("https://sh4r10.github.io/fonts/brandon/BrandonRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Brandon Grotesque";
  src: url("https://sh4r10.github.io/fonts/brandon/BrandonRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}
