
.icon{
  padding: 5px;
  padding-left: 10px;
  width: 60px;
  height: 60px;
  margin-left: 30px;
  cursor: pointer;
}

.ham{
  display: inline-block;
  position: absolute;
  float: left;
  margin-top: 30px;
  width: 35px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 2px;
  transition: .5s;
}

.ham:before,
.ham:after{
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 2px;
  transition: .5s;
}

.ham:before{
  top: -12px;
}

.ham:after{
  top: 12px;
}

.icon.active .ham{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .ham:before{
  top: 0;
  transform: rotate(45deg);
}

.icon.active .ham:after{
  top: 0;
  transform: rotate(135deg);
}
